<a href="https://colab.research.google.com/github/kilee722/NFL_Data_Analytics/blob/main/nfl_big_data_bowl_2021.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
games = pd.read_parquet('https://github.com/kilee722/NFL_Data_Analytics/raw/main/data/games.parquet.gzip')

games

         gameId    gameDate gameTimeEastern homeTeamAbbr visitorTeamAbbr  week
0    2018090600  09/06/2018        20:20:00          PHI             ATL     1
1    2018090901  09/09/2018        13:00:00          CLE             PIT     1
2    2018090902  09/09/2018        13:00:00          IND             CIN     1
3    2018090903  09/09/2018        13:00:00          MIA             TEN     1
4    2018090900  09/09/2018        13:00:00          BAL             BUF     1
..          ...         ...             ...          ...             ...   ...
248  2018123013  12/30/2018        16:25:00          DEN             LAC    17
249  2018123015  12/30/2018        16:25:00          SEA             ARI    17
250  2018123014  12/30/2018        16:25:00           LA              SF    17
251  2018122200  12/22/2018        16:30:00          TEN             WAS    16
252  2018122201  12/22/2018        20:20:00          LAC             BAL    16

[253 rows x 6 columns]

In [ ]:
games.describe()

In [ ]:
players = pd.read_parquet('https://github.com/kilee722/NFL_Data_Analytics/raw/main/data/players.parquet.gzip')

players

        nflId height  ...  position         displayName
0     2539334     72  ...        CB     Desmond Trufant
1     2539653     70  ...        CB       Robert Alford
2     2543850     69  ...        SS       Ricardo Allen
3     2555162     73  ...       MLB         Deion Jones
4     2555255     75  ...       OLB  De'Vondre Campbell
...       ...    ...  ...       ...                 ...
1298  2553798    6-2  ...        LS         Andrew East
1299  2556814    6-2  ...        WR       Max McCaffrey
1300  2552576     78  ...        QB        Sean Mannion
1301  2561469     69  ...        CB    Darious Williams
1302  2558095    6-2  ...        WR       Malachi Dupre

[1303 rows x 7 columns]

In [ ]:
plays = pd.read_parquet('https://github.com/kilee722/NFL_Data_Analytics/raw/main/data/plays.parquet.gzip')

plays

           gameId  playId  ...       epa  isDefensivePI
0      2018090600      75  ...  0.261827          False
1      2018090600     146  ... -0.372360          False
2      2018090600     168  ... -0.702779          False
3      2018090600     190  ...  3.047530          False
4      2018090600     256  ... -0.842272          False
...           ...     ...  ...       ...            ...
19234  2018122200    2300  ...  0.848703          False
19235  2018122200    3177  ...  1.227695          False
19236  2018122201     566  ... -0.720168          False
19237  2018122201    1719  ...  1.336078           True
19238  2018122201    2649  ...  0.550256           True

[19239 rows x 27 columns]

In [ ]:
df_list = []
for week in range(1, 18):
  df = pd.read_parquet(f'https://github.com/kilee722/NFL_Data_Analytics/raw/main/data/week_{week}.parquet.gzip')
  df['Week'] = week
  df_list.append(df)

print(len(df_list))

17

In [ ]:
weekly_data = pd.concat(df_list)

weekly_data

                             time       x      y  ...  playDirection  route  Week
0        2018-09-07T01:07:14.599Z   91.73  26.67  ...           left   None     1
1        2018-09-07T01:07:14.599Z   88.89  36.47  ...           left   None     1
2        2018-09-07T01:07:14.599Z   91.35  44.16  ...           left  HITCH     1
3        2018-09-07T01:07:14.599Z   86.31  22.01  ...           left   None     1
4        2018-09-07T01:07:14.599Z   90.78  36.15  ...           left  HITCH     1
...                           ...     ...    ...  ...            ...    ...   ...
1049260  2018-12-31T04:23:24.200Z   95.77  11.20  ...           left   POST    17
1049261  2018-12-31T04:23:24.200Z  101.94  14.60  ...           left   None    17
1049262  2018-12-31T04:23:24.200Z  102.68   0.94  ...           left   None    17
1049263  2018-12-31T04:23:24.200Z  105.82   0.71  ...           left    OUT    17
1049264  2018-12-31T04:23:24.200Z  101.33   0.91  ...           left   None    17

[18309388 rows x 20 columns]

In [ ]:
weekly_data.isna().sum()

time                    0
x                       0
y                       0
s                       1
a                      28
dis                     1
o                 1247860
dir               1247846
event                   0
nflId             1247642
displayName             0
jerseyNumber      1247642
position          1247642
frameId                 0
team                    0
gameId                  0
playId                  0
playDirection           0
route            13191433
Week                    0
dtype: int64

In [33]:
weekly_data.query('displayName == "Football"').shape

(1247642, 20)

In [35]:
weekly_data[weekly_data.displayName == "Football"].shape

(1247642, 20)

SyntaxError: ignored